# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/*.swp
*.Po
aclocal.m4
autom4te.cache
autoscan.log
config.h.in
configure
depcomp
Makefile.in
missing
install-sh
config.guess
config.status
test-driver
config.sub
compile
config.h
config.log
stamp-h1
test-suite.log
Makefile
*.o
*.Po
*.in*
*.orig

**/*.log
**/*.trs

# Binaries
cpp_miner_tests
cpp_miner
*.Tpo
*.gz
